NEXT_PUBLIC_APP_ENV=production
NEXT_PUBLIC_APP_DOMAIN=https://brkovic.app
NEXT_PUBLIC_SUPABASE_URL=https://suebhgyqvzcrigfdplot.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
FINDESK_DEV_LOGIN_ENABLED=0
