NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_APP_DOMAIN=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
FINDESK_DEV_LOGIN_ENABLED=1
FINDESK_DEV_LOGIN_CODE=111111
CRON_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
